.home {
	&-bg {
		height: 100%;
		background: linear-gradient(90deg, #e2e8f0 45%, white 0);
		position: relative;

		@include atSmall {
			background: linear-gradient(0deg, #e2e8f0 95%, white 0);
		}
	}

	&-card {
		position: inherit;
		top: 4rem;
		height: 25rem;
		background: linear-gradient(90deg, #bac1c9 50%, white 50%);

		@include atSmall {
			background: #bac1c9;
		}

		@include atLarge {
			position: inherit;
			top: 16rem;
		}
	}
}

.active {
	display: block;
}
